html{ 
    min-height: calc(100% + env(safe-area-inset-top));
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

    background-color: #666b98;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html body{
    background: unset;
}

body{

    margin: 0;
    padding: 0;
}
.content-wrapper{
    align-items: center;
    overflow: auto;
    color: rgba(255, 255, 255, .9);
    font-family: Barlow, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    word-break: normal;
    word-wrap: normal;
    -webkit-hyphens: none;
    padding: 2% 2.5%;
    height: 100%;
    width: 100%;
}
.content-wrapper .icon-link svg{

    height: 2rem;
    fill: #fff;
}
.content-wrapper .icon-link{
    line-height: 3rem;
    width: 4.6rem;
    height: 4.6rem;
    border: 1px solid;
    margin: .66rem;
    background-color: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    -webkit-transition: .3s;
    transition: .3s;
}
.content-wrapper h1 {
    font-size: 4.5rem;
    margin-bottom: 1.875rem;
    line-height: 4.5rem;
    font-weight: 700;
    letter-spacing: -.04rem;
}
.content-wrapper h2 {
    font-size: 3rem;
    margin-bottom: 1.875rem;
    line-height: 3.5rem;
}
.content-wrapper h1, .content-wrapper h2
{
    font-family: inherit;
    text-align: center;
    text-rendering: optimizeLegibility;
}
.content-wrapper .profile-image
{
    margin-bottom: 2rem;
}
.content-wrapper .profile-image img
{
    border-radius: 50%;
    position: static;
}