.content-wrapper .profile-desc
{
    font-size: 2rem;
    line-height: 3rem;
    max-width: 60rem;
    text-align: justify;
    margin-top: 2.5rem;
}

.content-wrapper .contact-me{
    margin-top: 2.5rem;
    font-size: 2rem;display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: .6rem;
    border-radius: 4px;
    font-weight: 700;
    font-size: 1.8rem;
    cursor: pointer;
    padding: 0.5rem 1.6rem 0.5rem 1.6rem;
    background-color: #fff;
    -webkit-transition: .3s;
    transition: .3s;
    width: fit-content;
}
.content-wrapper .contact-me svg
{    
    height: 2rem;
    margin: 0;
    padding: 0;
    fill: #212121;
    line-height: 3rem;
}

.content-wrapper .contact-me a, .content-wrapper .contact-me svg
{        
    color: #212121;
}
